NODE_ENV=development
PORT=5111
JWT_SECRET=secret_super_seguro_produccion
API_KEY=api_key_produccion
# ALLOWED_ORIGINS=https://whatsapp.neonledpublicidad-marketing.com
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
BASE_URL=http://localhost:5111 #RUTA BACKEND


AUTO_REFRESH_SESSION=true   #por defecto en habilitado o true para sesiones auto reconectables
MAX_RECONNECT_ATTEMPTS=3    #numero de intentos de reconexion
RECONNECT_TIMEOUT=30000
RECONNECT_COOLDOWN=10000
AUTO_CLEAN_CORRUPTED_CREDS=false #  Si está en 'true', eliminará automáticamente credenciales corruptas o inválidas


# También se usa en reconexiones automáticas runtime (después del 2do intento)
WHATSAPP_HEALTH_CHECK=true # Health Check de WhatsApp (previene falsos positivos) al verificar si whatsapp está caído , al estar entru evrifica que este disponible antes de limpiar credenciales
HEALTH_CHECK_TIMEOUT=5000